<div>
	<h2>Pop Question</h2>
	<table>
		<tr>
			<th>&nbsp;</th>
			<th>Pregunta</th>
			<th>Respuesta</th>
			<th>Actions</th>

		</tr>

		<% @pop_questions.each do |pop_question| %>
		<tr>
			<td><%= pop_question.id %></td>
			<td><%= pop_question.question %></td>
			<td><%= pop_question.answer %></td>
			<td>
				<%= link_to("Edit", {:action => "edit", :id => pop_question.id}) %>
				<%= link_to("Delete", {:action => "destroy", :id => pop_question.id}) %>
			</td>
		</tr>
		<% end %>
	</table>
</div>